.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.suggestion {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.suggestion > * {
  flex: 0 0 calc((100% - 20px) / 3); /* 3개 + gap 16px × 2 */
}

.allMovie {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.allMovie > * {
  flex: 0 0 calc((100% - 50px) / 5); /* 5개 + gap 16px × 4 */
}
