.container {
  background-color: black;
  min-height: 100vh;
  margin: 0 auto;
  box-shadow: rgba(100, 100, 100, 0.2) 0px 0px 29px 0px;
  padding: 0px 25px;
}
.header {
  height: 60px;
  font-size: 20px;
  font-weight: bold;
  line-height: 60px;
}

.header > a {
  text-decoration: none;
  color: rgb(229, 9, 20);
}

.main {
  padding-top: 10px;
}
.footer {
  padding: 100px 0px;
  color: gray;
}
